<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <!-- 
  	* web.xml 파일
  	- 배포서술자(DD, Deployment Descriptor)라고 해서 해당 웹 애플리케이션의 기본적인 설정을 위해 작성하는 파일
  	- 서버 구동시 제일 먼저 읽는 문서임!
  -->
  
  <display-name>1_Servlet</display-name>
  
  <!-- welcome-file : 처음에 url로 이 애플리케이션 요청시 제일 먼저 띄워주고자 하는 메인페이지 지정해놓은 것!
  					  단, 해당 파일은 WebContent/ 에 위치해야만 잘 찾아서 보여짐!!
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>


